<div class="jumbotron">
	<h1>Say Hello to Carson</h1>

	<p class="lead">Carson is here to help you automatically build, archive and deploy your apps.</p>
	
	<% if !signed_in? %>
		<%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
	<% end %>



</div>

<% if signed_in? %>
	<div class="row">
		<table class="table table-striped">
		<thead>
			<tr>
				<th>#</th>
				<th>Name</th>
				<th>Last build</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>1</td>
				<td>Fish4All</td>
				<td>30 seconds ago</td>
			</tr>
		</tbody>



		</table>
	</div>
<% end %>
