<div class="jumbotron">
  <h1>Super Secret Rails Project</h1>

  <p class="lead">This is the home of the super secret rails project. Sign up to begin.</p>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>
