<div class="header">
	<ul class="nav nav-pills pull-right">
		<li><%= link_to "Home",    root_path %></li>
		<li><%= link_to "About",    about_path %></li>
	    <li><%= link_to "Help",    help_path %></li>
	    <li><%= link_to "Sign in", '' %></li>
	</ul>
	<h3 class="text-muted">Super Secret Rails Project</h3>
</div>
